@{
    ViewBag.Title = "_Layout_KienThuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div @*class="container-fluid"*@>
    <div class="row">
        <div class="col-lg-3" >

            <div style="overflow :auto;height:550px;background-color:#ffffff">
                @RenderSection("kienthuc", required: false)
                @RenderSection("temp", required: false)
            </div>
        </div>
        <div class="col-lg-9" style=" background-color:#ffffff">
            @RenderBody()
        </div>
    </div>
</div>